<div class="main-content">
  <div class="main-box col-xs-12">
    <div class="col-sm-6">
      <div class="brain">
          <video id="q1video" src="/assets/videos/brain.mp4" autoplay loop></video>
      </div>
    </div>
  <div class="col-sm-6">
    <div class="quiz-intro">
      <h4>Test your knowledge.</h4>
      <p>Take this quick quiz about child brain development and see how well you do.</p>
      {{#link-to 'q1'}}
        <div class="button">
          <p class="button-text"><img src="/assets/images/bottle.png" width="20px;" style="margin-top:-6px; margin-right: 15px;">TAKE OUR QUIZ</p>
        </div>
      {{/link-to}}
    </div>
  </div>
</div>
</div>
