<div class="question-main">
  <div class="col-sm-6">
    <div class="brain-box">
        <img src="/assets/images/DHA.jpg" width="100%">
    </div>
  </div>
  <div class="col-sm-6">
    <div class="question-box">
      <div class="quiz-question">
        <h4>Natural Vitamin E and Lutein together:</h4>
        <button class="answer-button third" {{action "flipCorrect"}}><span class="letter-choice">A.</span>Protect DHA</button>
        <button class="answer-button third" {{action "flipIncorrect"}}><span class="letter-choice">B.</span>Damage DHA</button>
        <button class="answer-button" {{action "flipIncorrect"}}><span class="letter-choice">C.</span>Have no effect on DHA</button>
      </div>
      <div class="correct-answer-hidden">
        <div class="quiz-answer">
          <h5>CORRECT!</h5>
          <h6>Answer: A, Protect DHA</h6>
          <p>The Lutein and RRR Natural vitamin E act as antioxidants to protect DHA against free radicals.</p>
        </div>
        <div class="video">
          <video id="q3video" src="/assets/videos/similac3.mp4" autoplay loop></video>
        </div>
      </div>
      <div class="incorrect-answer-hidden">
        <div class="quiz-answer">
          <h5>INCORRECT</h5>
          <h6>Answer: A, Protect DHA</h6>
          <p>The Lutein and RRR Natural vitamin E act as antioxidants to protect DHA against free radicals.</p>
        </div>
        <div class="video">
          <video id="q3video" src="/assets/videos/similac3.mp4" autoplay></video>
        </div>
      </div>
    </div>
  </div>
</div>
