<div class="foot-top-bar">
</div>
<div class="foot">
  <h2>Similac: Supporting early brain development</h2>
  <div class="similac">
    <img src="/assets/images/similac-product-footer.png" width="20%">
  </div>
</div>
