<div class="question-main">
  <div class="col-sm-6">
    <div class="brain-box" style="background-image: url('/assets/images/similacproduct.jpg'); background-size:cover;">
    </div>
  </div>
  <div class="col-sm-6">
    <div class="question-box">
      <div class="quiz-question">
        <h4>Similac infant formula has which of the following:</h4>
        <button class="answer-button fifth" {{action "flipIncorrect"}}><span class="letter-choice">A.</span>Lutein</button>
        <button class="answer-button fifth" {{action "flipIncorrect"}}><span class="letter-choice">B.</span>Natural Vitamin E</button>
        <button class="answer-button fifth" {{action "flipIncorrect"}}><span class="letter-choice">C.</span>DHA</button>
        <button class="answer-button fifth" {{action "flipCorrect"}}><span class="letter-choice">D.</span>All of the Above</button>
      </div>
      <div class="correct-answer-hidden">
        <div class="final-question">
          <h5>CORRECT!</h5>
          <h6>Answer: D, All of the Above</h6>
          <h3><strong>With Similac formula, there’s a lot in every drop.</strong></h3>
          <h3>Similac formula provides <strong>all three key nutrients</strong> to support brain and eye development.</h3>
          <h3>Talk to an Abbott Nutrition representative today.</h3>
        </div>
      </div>
      <div class="incorrect-answer-hidden">
        <div class="final-question">
          <h5>INCORRECT</h5>
          <h6>Answer: D, All of the Above</h6>
          <h3><strong><i>With Similac formula, there’s a lot in every drop.</i></strong></h3>
          <h3>Similac formula provides <strong>all three key nutrients</strong> to support brain and eye development.</h3>
          <h3>Talk to an Abbott Nutrition representative today.</h3>
        </div>
      </div>
    </div>
  </div>
</div>
