<div class="head">
  {{#link-to 'index'}}<img src="/assets/images/abbottlogo.png">{{/link-to}}
</div>
<div class="head-bottom-bar">
  {{#link-to 'index'}}<img src="/assets/images/start-over-icon.png" width="32px" style="margin-left:24px; margin-top:10px">{{/link-to}}
</div>
