<div class="question-main">
  <div class="col-sm-6">
    <div class="brain-box">
        <img src="/assets/images/Lutein.png" width="100%">
    </div>
  </div>
  <div class="col-sm-6">
    <div class="question-box">
      <div class="quiz-question">
        <h4>Which of the following organs does Lutein help?</h4>
        <button class="answer-button fourth" {{action "flipIncorrect"}}><span class="letter-choice">A.</span>Brain</button>
        <button class="answer-button fourth" {{action "flipIncorrect"}}><span class="letter-choice">B.</span>Eye</button>
        <button class="answer-button fourth" {{action "flipCorrect"}}><span class="letter-choice">C.</span>Both</button>
      </div>
      <div class="correct-answer-hidden">
        <div class="quiz-answer">
          <h5>CORRECT!</h5>
          <h6>Answer: C, Both</h6>
          <p>Lutein is associated with forming the macular pigment in the eyes. Macular pigment is also associated with improved brain processing speed.</p>
        </div>
        <div class="video">
          <video id="q4video" src="/assets/videos/similac4.mp4" autoplay loop></video>
        </div>
      </div>
      <div class="incorrect-answer-hidden">
        <div class="quiz-answer">
          <h5>INCORRECT</h5>
          <h6>Answer: C, Both</h6>
          <p>Lutein is associated with forming the macular pigment in the eyes. Macular pigment is also associated with improved brain processing speed.</p>
        </div>
        <div class="video">
          <video id="q4video" src="/assets/videos/similac4.mp4" autoplay></video>
        </div>
      </div>
    </div>
  </div>
</div>
